header {
    background-color: #3d340e;
    background-image: linear-gradient(90deg, #3d340e 25%, #c4a44d 100%);
    color: #DAE2C4;
}

.space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#menu {
    font-size: 1.5rem;
    padding-right: 1.5rem;
}

#menu li {
    display: inline-flex;
    padding: 1rem;
    transition: transform 0.8s;
}

#menu li:hover {
    transform: scale(1.4);
}

a {
    text-decoration: none;
    color: inherit;
}

header h1 {
    font-size: 3rem;
    color: inherit;
    padding-left: 1rem;
}

header h2 {
    font-size: 2rem;
    color: inherit;
    text-align: center;
    padding: 1rem;
}

header h1 {
    -webkit-animation: desliza;
    animation: desliza 2s;
}


@keyframes desliza {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: initial
    }
}

@-webkit-keyframes desliza {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: initial
    }
}



#menu{

-webkit-animation: aparece;
animation: aparece 2s linear;

}

@keyframes aparece {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}
@-webkit-keyframes aparece {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}





